/*
* sosere recommedation
* base style
*/
div.sosere-recommendation {
	clear: both;
	border: none;
	margin-bottom: 10px;
	padding-top: 1px;
	float: left;
	width: 100%;
	margin-top: 20px;
}

.sosere-recommendation  legend {
}

.sosere-recommendation ul {
	width: 100%;
	clear: both;
	padding-left: 5px;
	margin: 0 0 0 0;
	display: table;
}

li.sosere-recommendation-thumbs {
	background: none;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: inline-flex;
	list-style: none;
	margin: 0 4px 0 0 !important;
	padding: 5px 2px 5px 2px;
	word-wrap: break-word;
}
li.sosere-recommendation-thumbs:hover {
	background-color: #DDD;
}

.sosere-recommendation-thumbs  img {
	display: table;
	width: 100% !important;
}

.no-thumb {
	background: #F5F4DE;
	border: 1px solid #BBBBBB;
	word-wrap: break-word;
    
}